<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h3> Update the <%=@project.title() %> project:</h3>

      <form action="/project/<%= @project.id() %>" method="post">
        <div class="form-group">
          <label for="name" class="form-label">New volunteers name:</label>
          <input type="text" name="name" class"form-control" id="name" autofocus>
          <button type="submit" class="button btn">Add Volunteer</button>
        </div>
      </form>
      <br>
      <form action="/project/<%= @project.id() %>" method="post">
        <div class="form-group">
          <input type="hidden" name="_method" value="patch">

          <label for="title">Rename your project:</label>
          <input type="text" name="title" id="title">

          <button type="submit">Update Project</button>
        </div>
      </form>
      <br>
      <form action="/project/<%= @project.id() %>" method="post">
        <div class="form-group">
          <input name="_method" type="hidden" value="delete">
          <label for="delete">Delete your project:</label>
          <button type="submit">Delete Project</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <h1><%= @project.title() %></h1>

      <% if @project.volunteers().any?() %>
        <h3>Here are all the volunteers in this project:</h3>

        <ul>
          <% @project.volunteers().each() do |volunteer| %>
            <li><a href="/volunteer/<%= volunteer.id() %>"><%= volunteer.name() %></a></li>
          <% end %>
        </ul>

        <% else %>
          <p>There are no volunteers on this project!</p>
      <% end %>
    </div>
  </div>
</div>
<a href="/"><button class="btn">Home</a>
